.idea
!.idea/artifacts/*
!.idea/libraries/*
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml

build
buildnumber

Launcher.jar
LauncherAuthlib.jar
LauncherRuntime.jar
LaunchServer.jar
