address: "x";
bindAddress: "0.0.0.0";
port: 7240;

# Auth handler
authHandler: "textFile";
authHandlerConfig: {
	file: "authHandler.cfg";
	offlineUUIDs: true;
};

# Auth provider
authProvider: "reject";
authProviderConfig: {
	message: "You need to change auth provider in LaunchServer.cfg";
};

# Texture provider
textureProvider: "request";
textureProviderConfig: {
	skinsURL: "http://skins.minecraft.net/MinecraftSkins/%username%.png";
	cloaksURL: "http://skins.minecraft.net/MinecraftCloaks/%username%.png";
};

# Launch4J EXE binary building
launch4J: false;
