address: "x";
bindAddress: "0.0.0.0";
port: 7240;

# Textures (for clientside)
skinsURL: "http://skins.minecraft.net/MinecraftSkins/%username%.png";
cloaksURL: "http://skins.minecraft.net/MinecraftCloaks/%username%.png";

# Auth handler
authHandler: "textFile";
authHandlerConfig: {
	file: "authHandler.cfg";
	md5UUIDs: true;
};

# Auth provider
authProvider: "reject";
authProviderConfig: {
	message: "You need to change auth provider in LaunchServer.cfg";
};

# Launch4J EXE binary building
launch4J: false;

# Allow collecting some system info (OS, Specs, Java version, etc)
# It doesn't send any personal data. Statistics can be viewed at
# http://launcher.sashok724.net/stats
metrics: true;
